
header {
  font-size: 28px;
  color: white;
  background-color: black;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

h1 {
  font-size: 24px;
 }

h2 {
  font-size: 24px;
  }

a {
  color: red;
}

.container {
  background-color: burlywood;

}

#main-bio,
#contact-info,
#bio-image {
  width: 320px;
  padding: 10px;
  margin: 0;
  float: center;

}

#main-bio {
  float: center;
  width: 30%;
  padding: 10px;
}

#contact-info {
  width: 30%;
  float: right;
  padding: 10px;
  display: table;
}

#bio-image {
  width auto;
  float: left;
  padding: 10px;
}