
header {
  font-size: 28px;
  color: white;
  background-color: black;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

h1 {
  font-size: 24px;
 }

h2 {
  font-size: 24px;
  }

a {
  color: red;
}

.container {
  background-color: burlywood;
}

#main-bio,
#contact-info,
#bio-image {
  margin: 0;
}

#main-bio {
  display: table;
  clear: both;
  content: "";
}

#contact-info {
  width: 33.33%;
  float: right;
}

#bio-image {
  width: 33.33%;
  float: left;
  padding:15px;
  }